<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Web Chat</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="openSettingsDialog()">
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button (click)="openSettingsDialog()">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button (click)="openConnectionDialog()">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>