<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggle_child()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Web Chat</span>
    <span class="spacer"></span>
    <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button (click)="openSettingsDialog()">
        <mat-icon>settings</mat-icon>
    </button>
    <button *ngIf="!login; else dis" mat-icon-button (click)="openConnectionDialog()">
        <mat-icon>account_circle</mat-icon>
    </button>
    <ng-template #dis>
        <button mat-button [matMenuTriggerFor]="disconnect"><mat-icon>account_circle</mat-icon></button>
        <mat-menu #disconnect="matMenu">
            <button mat-menu-item (click)="logout()">Disconnect</button>
            </mat-menu>
    </ng-template>
    

</mat-toolbar>